.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# My section
docs
QmlSandbox
Qt
QtBuildEnv
aqtinstall.log
project.py
.github
