.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# My section
docs
QmlSandbox
QtBuildEnv
aqtinstall.log
project.py
.github

# Side libs section
lib/Qt

# Github actions-only section
emsdk-cache
